* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;

  text-align: center;
  color: black;
  height: 100vh;
  /* color: white; */

  scrollbar-width: 5px;
  scrollbar-color: rgba(128, 128, 128, 0.5) rgba(224, 224, 224, 0.719);
}

.main {
  height: 100vh;
  width: auto;
  flex-direction: column;
}

#time {
  font-size: 8em;
}

h1 {
  margin-bottom: 3em;
  font-size: 2em;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
  font-size: 1.5em;

  /* font-family: "Quicksand", sans-serif; */
}

#focus {
  width: fit-content;
  max-width: 250px;
  margin: 0 auto;
}

#name:focus,
#name:active,
#focus:focus,
#focus:active {
  outline: none;
}

.switch-button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  overflow: hidden;
  width: 130px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;

  position: absolute;
  top: 15px;
  left: 20px;
  padding-right: 60px;
  color: rgb(146, 146, 146);
}

.switch-button:before {
  content: "24h";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-label {
  color: black;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(60px);
  transition: transform 0.3s linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 9px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 0.3s;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

.weather {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.55);
  border-radius: 17px;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.weather:hover {
  transform: scale(1.02);
}

.weather h1 {
  margin-bottom: 0;
  font-size: 2.3rem;
}

.location,
.temperature {
  height: 50px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.location p,
.temperature div {
  width: 70px;
}

.location {
  height: auto;
}

.location p {
  padding: 8px;
  padding-top: 0;
}
.temperature div {
  height: 50px;
}

div.degree-section {
  justify-content: flex-end;
}

.degree-section span {
  margin: 5px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

.icon-section {
  position: relative;
}

.icon {
  height: 50px;
  width: auto;
  transform: translate(0px, 1px);
}

.location-timezone {
  font-weight: 600;
  opacity: 0.7;
}

p.temperature-description {
  padding-top: 6px;
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.1px;
}

#weather-big {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  flex-direction: column;
  width: 450px;
  height: 190px;
  display: none;

  background: rgba(255, 255, 255, 0.55);
  border-radius: 17px;
  font-size: 1.4em;
  transition: 0.3s ease-out;
}

#weather-big:hover {
  transform: scale(1.01);
}

#weather-big h1 {
  margin-bottom: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-big {
  height: 23%;
}

.temperature-section-big {
  height: 47%;
  width: 100%;
  padding: 0 12px;
  justify-content: space-around;
}
.hidden,
.hidden-flex,
.hidden-todo {
  display: none;
  /* opacity: 0; */
}

.temperature-degree-section {
  width: 20%;
}
.temperature-degree-section span,
.temperature-degree-section h1 {
  font-size: 2.5em;
}

.icon-section-big {
  width: 20%;
}

.icon-big {
  width: 80px;
  height: auto;
}

.temperature-description-big {
  min-width: 20%;
  max-width: 30%;
  font-size: 0.9em;
}

.weather-niceties {
  height: 30%;
  padding: 0 12px 5px;
  letter-spacing: 0.8px;
  font-size: 0.8em;
  justify-content: space-around;
}

#weather-big i {
  padding: 0 8px;
}

.feels-like {
  padding-right: 0;
  padding-left: 5px;
}
.wind {
  padding-right: 5px;
}

.music {
  position: absolute;
  bottom: 15px;
  left: 20px;

  font-size: 2rem;
  cursor: pointer;
  color: white;
  transition: transform 0.1s ease-in;
}

.music:hover {
  transform: scale(1.03);
}

#video {
  display: none;
}

.todo-list-section {
  position: absolute;
  bottom: 15px;
  right: 20px;
  /* max-height: 285px; */

  /* overflow: auto; */
  /* transition: transform 0.1s ease-in; */
}

.task-icon {
  cursor: pointer;
  height: 60px;
  width: 60px;
  transition: transform 0.1s ease-in;
}

.task-icon:hover {
  transform: scale(1.03);
}

.task-icon::before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  z-index: 0;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.task-icon i {
  font-size: 1.4em;
  transform: translate(0px, 19px);
}

.todo-list-container {
  overflow: hidden;
  color: black;
  /* display: none; */
}

.todo-close {
  background-color: transparent;
  height: 45px;
  width: 2.1rem;
  margin: 0 auto;
  color: rgb(255, 255, 255, 0.9);
  border-radius: 20px;

  transform: translateX(0.5rem);
  transform: translateY(70px);
  transition: all 0.2s ease-out;
}

.todo-close-section {
  height: 58px;
  overflow: hidden;
}

.todo-close-container {
  height: 100px;
}

.todo-close::after {
  cursor: pointer;
  content: "\00D7";
  position: absolute;
  font-size: 2rem;
}

.up {
  transform: translateY(5px);
}

form {
  /* background-color: white; */
  border-radius: 15px;
  width: 305px;
  margin-left: 8px;
  /* padding: 8px 13px; */
}

form input {
  /* width: 82%; */
  width: 148px;
}

form input,
form button {
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  /* background: transparent; */
  background-color: rgba(255, 255, 255, 0.99);
}

form input:active,
form input:focus {
  outline: none;
}

.todo-input {
  border-radius: 10px 0 0 10px;
  font-size: 1em;
  padding: 6.5px 10px;
  padding-right: 0;
  font-family: inherit;
  height: 35.5px;
}

.todo-button {
  transition: all 0.3s ease;
  cursor: pointer;
  /* margin-right: 10px; */
  border-radius: 0 10px 10px 0;
  transform: translateX(-0.1px);
  padding: 4px 10px;
}

.todo-button:hover {
  /* /////////////////////////// */
  /* Добавить */
  /* /////////////////////////// */
}

.todo-button i {
  font-size: 1.1rem;
}

.todo-list {
  /* min-width: 30%; */
  list-style: none;
  margin-top: 5px;

  max-height: 244px;
  overflow: auto;
}

.todo-list::-webkit-scrollbar {
  width: 5px;
}
.todo-list::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.459);
  border-radius: 20px;
}
.todo-list::-webkit-scrollbar-thumb {
  background-color: rgba(224, 224, 224, 0.719);
  border-radius: 20px;
}

.todo {
  width: 300px;
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  /* color: black; */
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in;
}

.todo li {
  text-align: start;
  flex: 1;
  padding: 8px 13px;
  /* font-size: 1.1em; */
}

.trash-btn,
.complete-btn {
  background: transparent;
  border: none;
  font-size: 1em;
  padding: 10px 13px;
  padding-left: 0;
  color: inherit;
  cursor: pointer;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.5);
}

.fall {
  transform: translateY(4rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;

  color: inherit;
  margin-left: 0.3rem;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  height: 36px;
  width: 113px;
  padding: 5px;
  padding-left: 7px;
  border-radius: 11px;

  font-family: inherit;
  font-size: 0.9rem;
  /* width: 10rem; */
  cursor: pointer;
  /* margin-bottom: 9px; */
}

.select {
  /* margin: 1rem; */
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\2335";
  color: black;
  z-index: 10;
  bottom: 6px;
  right: 10px;
  font-size: 1.2em;
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  transition: all 0.1s ease-in;
}

.select:hover::after {
  color: rgb(131, 131, 131);
}
